<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- ... -->
<head th:replace="partials/header :: header('Profile')">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div sec:authorize="isAuthenticated()">
    <div>
        <h1>Welcome <span th:text="${#authentication.principal.username}"></span></h1>
    </div>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>