<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Sign Up')">
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">


<h1 class="text-center">&lang; Sign Up &rang;</h1>
<form class="sign-up-form" th:action="@{/sign-up}" method="POST" th:object="${user}">
    <div class="row">
        <!--<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>-->
        <input class="col-xs-6 col-xs-offset-3" id="username" th:field="*{username}" placeholder="Username..."/>
    </div>
    <div class="row">
        <!--<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>-->
        <input class="col-xs-6 col-xs-offset-3" id="email" th:field="*{email}" placeholder="email@email.com"/>
    </div>
    <div class="row">
        <input class="col-xs-6 col-xs-offset-3" id="password" type="password" th:field="*{password}" placeholder="Password..." />
    </div>
    <div class="row">
        <ul class="list-inline col-xs-6 col-xs-offset-4">
            <li class="password-feedback">Numbers: 0-9</li>
            <li class="password-feedback">Uppers: A-Z</li>
            <li class="password-feedback">Lowers: a-z</li>
            <li class="password-feedback">Special: @, $, !, ^, etc.</li>
        </ul>
    </div>
    <div class="row">
        <input id="submit-btn" class="btn btn-success col-xs-2 col-xs-offset-5" value="Sign me up!" type="submit" />
    </div>
</form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<script src="/js/registration-validation.js"></script>
</body>
</html>