<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header(${error})">
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
    <div class="row">
            <th:block th:switch="${error}">
                <div class="col-xs-10 col-offset-1" th:case="'Not Found'">
                    <h1 class="text-center">Page not found!!</h1>
                </div>
                <div class="col-xs-10 col-offset-1" th:case="'Forbidden'">
                    <h1 class="text-center" >You don't have permission to view this page.</h1>
                </div>
            </th:block>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <p class="text-center">Watch a video instead</p>
            <iframe class="center-block"
                    width="420"
                    height="315"
                    src="https://www.youtube.com/embed/NN75im_us4k?autoplay=1"
                    frameborder="0"
                    allowfullscreen="allowfullscreen"
            >
            </iframe>
        </div>
    </div>
</div>


</body>
</html>